## Deliverable 3. Create a Travel Itinerary Map.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [27]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Cape Town,ZA,88.21,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
1,2,Dwarka,IN,86.70,few clouds,22.2394,68.9678,Hotel Narayan Avezika Comfort
2,8,Lingao,CN,80.87,overcast clouds,19.9103,109.6859,Lingao Ditai Inn
3,11,Hermanus,ZA,87.80,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
4,16,Lata,PT,81.48,scattered clouds,40.1629,-8.3327,Casa Maquia

In [30]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [31]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Fez']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Fez']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Constantine']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Sidi Ali'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Nador'] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
87,421,Fez,MA,88.05,clear sky,34.0372,-4.9998,Hotel Mounia Fès

In [36]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()[0][5:7]
end = vacation_end.to_numpy()[0][5:7]
stop1 = vacation_stop1.to_numpy()[0][5:7]
stop2 = vacation_stop2.to_numpy()[0][5:7]
stop3 = vacation_stop3.to_numpy()[0][5:7]
start

array([34.0372, -4.9998], dtype=object)

In [37]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
directions_layer = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(directions_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,421,Fez,MA,88.05,clear sky,34.0372,-4.9998,Hotel Mounia Fès
1,76,Constantine,DZ,87.21,scattered clouds,36.3650,6.6147,Grand Hotel Cirta
2,284,Sidi Ali,DZ,80.02,scattered clouds,36.0998,0.4206,Complexe touristique haje bezine
3,539,Nador,MA,91.47,clear sky,35.1740,-2.9287,Hôtel La Giralda

In [39]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [40]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
city_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(city_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))